body {
    font-family: "Gotham A", "Gotham B", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

/*
* Additional Backgrounds
*/
.bg-transparent { background-color: transparent !important; }

/*
* Nav
*/
.nav-link { font-weight: bold; }

/*
* Navbar
*/
.navbar-default {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
}

.navbar-default img {
    width: 30px;
    height: 30px;
}

/* 
* Content Block with Media in Background
*/
.bg-content{
    margin-left: 20%;
    margin-right: 20%;
}
.bg-body-text{
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    font-weight: 250;
}