body {
    font-family: "Gotham A", "Gotham B", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #525252;
}

/* TEMPORARY FIX */
.btn:not(.btn-primary) {
    box-shadow: none !important;
    min-width: 0px !important;
}

.btn-checkbox {
    min-width: 0 !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
    border-radius: 3px !important;
}

.btn-radio {
    min-width: 0 !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
}

.btn-radio i { padding-left: 2px !important; }

.btn-checkbox + label,
.btn-radio + label {
    margin-top: 6px;
    font-size: 12px;
}

.p-fixed { position: fixed !important; }

.focus-indicator-none:focus { 
    outline-width: 0 !important;
    border: none !important; 
    border-width: 0 !important;
    box-shadow: none !important;
}

.no-decoration:hover,
.no-decoration:focus {
    text-decoration: none !important;
}

input[type="checkbox"] {
    height: 24px;
    width: 24px;
}

/*
* Additional Backgrounds
*/
.bg-black { background-color: black !important; }

/*
* Opacity
*/
.opacity-50 { opacity: 0.5; }
.opacity-65 { opacity: 0.65; }

/*
* Nav
*/
.nav-link { font-weight: bold; }

/*
* Navbar
*/
.navbar-default {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
}

.navbar-default img {
    width: 30px;
    height: 30px;
}

/*
* Inputs
*/
input,
input:focus {
    background-color: transparent;
    border: none !important;
    border-width: 0 !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    select::after {
        content: #9660;
    }

/* 
* Carousel Styling
*/
.carousel-img {
    width: 15% !important;  
}
@media (max-width: 768px) {
    .carousel-img {
        width: 50% !important;
    }
}
.carousel-indicators li {
    background-color:#353535 !important;
}

/*
* Content Block with Media in Background
*/
.bg-content{
    margin-left: 20%;
    margin-right: 20%;
}
.bg-body-text{
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    font-weight: 250;
}

/* 
* Sizes
*/
@media screen and (min-width: 800px) {
    .max-width-800 { max-width: 800px; margin-right: auto; margin-left: auto; }
}

@media screen and (min-width: 1100px) {
    .max-width-1100 { max-width: 1100px; margin-right: auto; margin-left: auto; }
}

.min-height-75-vh { min-height: 75vh !important; }

/* ArticleDetail */
.author-image {
    width: 80px;
    height: auto;
}
.article-subtitle {
    font-size: 22px;
    letter-spacing: 0.8px;
}
.article-body {
    line-height: 24px;
}

/*
* Overflows
*/
.overflow-x-auto { overflow-x: auto; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-y-auto { overflow-y: auto; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-hidden { overflow-y: hidden; }

/*
* Tabs Component
*/
@keyframes slideInFromRight {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
}
.tab-icons ul {
    animation: 1s ease-out 0s 1 slideInFromRight;
}

/*
* Positioning
*/
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
* Floating Card
*/
@keyframes fullOpacityFade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.floating-card {
    position: absolute;
    top: 20%;
    left: 50%;

    transform: translateX(-50%);
    animation: .5s ease-in 0s 1 fullOpacityFade;
}

.floating-card + div {
    animation: .3s ease-in 0s 1 fullOpacityFade;
}