body {
    font-family: "Gotham A", "Gotham B", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

/*
* Additional Backgrounds
*/
.bg-transparent { background-color: transparent !important; }

/* TODO : temporary fix until this gets moved to the main style sheet */
.bg-light { background-color: #f6f6f6 !important; }

/*
* Nav
*/
.nav-link { font-weight: bold; }

/*
* Navbar
*/
.navbar-default {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
}

.navbar-default img {
    width: 30px;
    height: 30px;
}

/*
* Inputs
*/
input {
    background-color: transparent;
}