$animate-prefix: animate;

// Opacity
$opacity-prefix: opacity;
$opacity-duration: 0.35s;
$opacity-easing: ease-out;

[class*='#{$opacity-prefix}'] {
  transition: opacity;
  transition-duration: $opacity-duration;
  transition-timing-function: $opacity-easing;
}
//

// Scale
$scale-prefix: scale;
$scale-duration: 0.35s;
$scale-easing: ease-out;

[class*='#{$scale-prefix}'] {
  transition: all;
  transition-duration: $scale-duration;
  transition-timing-function: $scale-easing;
}
//

// Slide
$slide-prefix: slide;
$slide-duration: 0.35s;
$slide-easing: ease-out;
$slide-delay: 0s;
$slide-x-distance: 40px;
$slide-y-distance: 40px;
$slide-animations: (
    right-left: slideRightToLeft,
    left-right: slideLeftToRight,
    bottom-top: slideBottomToTop
);

@mixin slideAnimation($animation) {
  animation-name: $animation;
  animation-duration: $slide-duration;
  animation-iteration-count: 1;
  animation-timing-function: $slide-easing;  
}

@each $animation, $value in $slide-animations {
  .#{$animate-prefix}-#{$slide-prefix}-#{$animation} { 
    @include slideAnimation($value);
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX($slide-x-distance);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeftToRight {
  0% {
    transform: translateX(-$slide-x-distance);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes slideBottomToTop {
  0% {
    transform: translateY($slide-y-distance);
  }
  100% {
    transform: translateY(0px);
  }
}
//