.dropdown-item {
    &:active {
        color: rgba(0, 0, 0, 0);
    }

    &:hover {
        .checkbox {
            color: #737374;
        }

        cursor: pointer;
    }
    color: #525252;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 3rem;
}

.dropdown-toggle::after {
    display: none;
}