.str-chat {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  max-height: initial;
  box-sizing: border-box;
}

.livestream.str-chat .str-chat__list {
  padding: 0;
}
