.str-chat {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  max-height: initial;
  box-sizing: border-box;
}
.str-chat .str-chat__list,
.str-chat-channel.messaging .str-chat__main-panel,
.messaging.str-chat .str-chat__list {
  padding: 0;
}
